Source: wifi-password-exporter
Maintainer: Thibault Daccord <thibd@protonmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools,python3-tk
Section: devel
Priority: optional
Standards-Version: 3.5.6
X-Python3-Version: >= 3.1

Package: python3-random-quote
Architecture: all
Description: Save & restore your linux wifi password
Depends: ${python3:Depends},python3-tk
